@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main-footer{
    color: white;
    background-color: #525252;
    position: absolute;
    
    width: 100%;
    top: 320%;
    left: 0;
    text-align: center;
}


.list-unstyled h4{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.row h4{
    font-family: 'Roboto', sans-serif;
}

.col-sm{
    font-family: 'Roboto', sans-serif;
    color: rgba(2, 1, 1, 0.5);
}

.ccl{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#link{
    color: #FFF;
    text-decoration: none;
}

.ccl h4{
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}



.btn-pages{
    width: 43px;
    height: 43px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #C4C4C4;
    outline: 0;
    margin: 5px;
    
}

.btn-pages a{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 1281px){
.container h4, .row h4{
    font-size: 20px;
}

.btn-pages button{
    width: 50px;
    height: 50px;
}

}

@media screen and (min-width: 600px){

    .container h4, .row h4{
        font-size: 20px;
    }
    
    .btn-pages button{
        width: 50px;
        height: 50px;
    }
    

    
    
}