@import url('https://fonts.googleapis.com/css2?family=Share:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');



.btnTeste{
    
        
        position: absolute;
        width: 30%;
        height: 10%;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #5B006A;
        border-radius: 5px;
        font-family: 'Share', cursive;;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 43px;
        overflow: auto;
        outline: 0;
        cursor:pointer;
        border: none;
        transition: all 0.7s ease;    


        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.btnTeste:hover, .header-button:hover {
    background: rgba(0, 0, 0, 0);
    color: #5B006A;
    box-shadow: inset 0 0 0 3px #5B006A; 
    transition: all 0.7s ease;    
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);     
    
}

.btn-logo-container {
    width: 10%;
    text-align: center;
}


.under-dog-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-family: 'Sarpanch', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 60%;
    width: 20%;
    

}
.under-dog-container img{
    width: 8vh;
    height: 3.9vh
}

.header-button{
    position: absolute;
    width: 10%;
    height: 50%;
    left: 2%;
    top: 21%;
    
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    text-align: center;
    align-self: center;

    background: #FBFBFB;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    outline: 0;
    font-family: 'Share', cursive;;
    
    cursor:pointer;

    transition: all 0.7s ease;    
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}



body{
    background-image: url(../../assets/BGfade.jpg);
    /*background-repeat: repeat;
    background-size: cover;*/
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    position: relative;
    height: 90vh;
    
}

.initial-container{
    /*position: fixed;
    background-color: #C4C4C4;
    height: 10vh;
    width: 100%;
    opacity: 1;*/
    position: relative;
    padding: 0 3%;
    margin: auto;
    
}

.header-container{
    position: relative;
    max-width:  100%;
    margin: 0;
    padding: 0 2%;
    z-index: 9;
    
}

.initial-container header{
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    min-height: 6vh;
    background: #212121;
    width: 100%;
    padding-right: 0;
    align-items: center;
    display: flex;

}
 







.white-container{
    position: relative;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 10vh;
    /*opacity: 0.85;*/
    height: 90vh;
    
    
}

.etapa-container{
    display: flex;
    flex-direction: column;
}

.anchor-container{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 10%;
    padding-top: 10px;
    justify-content: center;
    
}

.gray-top-text{
    position: absolute;
    top: 3%;
    left: 12%;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}


.text-etapas-container{ /*Roboto 24px*/
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 2vh;
    text-align: center;
}

.grey-container{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 42px;
    background-color: #C4C4C4;
    width: 90%;
    height: 350px;
    border-radius: 20px;
    text-align: left;
    margin: 5vh;

    
}

.text-container{
    font-size: 24px;
    height: 70vh;
    position: relative;
    
}

.title-p { /*Share 57px*/
    margin: 0;
    padding: 6%;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: bold;
    font-size: 57px;
    
    line-height: 11.40vh;/*90px;*/
    text-align: center;
    letter-spacing: 0.08em;
    position: absolute;
    top: 20%;
    width: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.text-p{  /*Texto - Roboto 24px*/
    position: absolute;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    top: 45vh;
    width: 126vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


    line-height: 28px;
    text-align: center;
    color: #000000;
    

}

.icons-container{
    position: relative;
    left: 37%;
    margin: 0 auto;
    padding: 0 ;
    
}
@media (max-width: 400px) {
    .initial-container{
        width: 310vw;
        height: 20vh;
    }
    .title-p {
        font-size: 3rem;
    }
    .text-p{
        font-size: 18px;
        width: 80%;
    }   

    

}


@media (min-width: 400px) {
    body{
        overflow: scroll;
    }
    .title-p {
        font-size: 2rem;
    }
    .icons-container{
        width: 50%;
    }
    .text-p{
        font-size: 15px;
    }   
    .white-container{
        
    }
    .initial-container{
        width: 270vw;
        height: 20vh;
    }
}

@media (min-width: 600px) {
    body{
        overflow: scroll;
    }

    .initial-container{
        width: 200vw;
    }
    .title-p {
        font-size: 3rem;
    }
    .text-p{
        font-size: 25px;
    }
}

@media (min-width: 800px) {
    .title-p {
    font-size: 45px ;/*7.22vh;*/
    }
    .icons-container{
        width: 25%;
    }
    .text-p{
        font-size: 18px;
        width: 90%;
    }

    .initial-container{
        width: 90%;
        max-width: 100%;
    }

    
}





